@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.ttf');
  font-weight: bold;
}

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0 0;
}

div#root {
  height: 150px;
  box-sizing: border-box;
}
